[submodule "jni/freetype"]
	path = jni/freetype
	url = https://github.com/android/platform_external_freetype.git
[submodule "jni/harfbuzz-ng"]
	path = jni/harfbuzz-ng
	url = http://anongit.freedesktop.org/git/harfbuzz.git
