[submodule "freetype"]
	path = app/src/main/cpp/freetype
	url = https://github.com/android/platform_external_freetype.git
[submodule "harfbuzz"]
	path = app/src/main/cpp/harfbuzz
	url = https://github.com/arkusuma/harfbuzz-android.git
